<!-- FOOTER -->
<footer id="footer" class="container" ng-controller="FooterCtrl">
	<p class="pull-right">
		<a ng-click="gotoTop()">Back to top</a>
	</p>
	<p>
		© 2014 NZ Korea Hapkido Federation.
	</p>
</footer>