<div class='container content'>
	<div class="row" scroll-spy>
		<div class="col-md-9 bs-docs-section">
			<div id="about-hangookdo">
				<h1>About HanGookDo(HapKiDo)</h1>
				<br />
				<object width="400" height="300">
					<param name="movie"
					value="http://www.youtube.com/v/Wg-eKz3mcfU&hl=ko_KR&fs=1&"/>
					<param name="allowFullScreen" value="true"/>
					<param name="allowscriptaccess" value="always"/>
					<embed src="http://www.youtube.com/v/Wg-eKz3mcfU&hl=ko_KR&fs=1&"
					type="application/x-shockwave-flash" allowscriptaccess="always"
					allowfullscreen="true" width="400" height="300"></embed>
				</object>
				<p class="emphasize-italic">
					Korea Hapkido Central Demonstration Team
				</p>

				<br />

				<div id="meaning-hangookdo">
					<h3>What is HanGookDo (Hapkido)?</h3>
					<p>
						<span >
							<br />
							<br />
							Hapkido is a uniquely comprehensive, traditional Korean martial art
							of self-defence, which focuses on the simultaneous development of
							the body, mind and spirit. </span>
					</p>

					<p>
						<span > Literally translated, Hapkido
							means the &#39;Art of Energy Co-ordination&#39;.</span>
					</p>

					<p>
						<b class="emphasize"> Hap</b><span><span>&nbsp;</span>- Co-ordination/Harmony</span>
					</p>

					<p>
						<b class="emphasize"> Ki</b><span><span>&nbsp;</span>- Energy</span>
					</p>

					<b class="emphasize"> Do</b><span><span>&nbsp;</span>- Way/Art
						<br />
						<br />
						<br />
						Hapkido has the most varied types of techniques and is an
						extremely integrated art consisting of extensive joint locking and
						pressure point techniques, takedowns, submissions, ground-fighting,
						throws, dynamic kicking techniques, strikes, punches, falling-down
						skills, breathing techniques, and an array of weapons techniques,
						including the sword, the cane, the fan, short stick, and belt
						skills. The vast array of techniques equip the student to defend
						against any situation, and the full array of possible holds, grabs,
						punches, kicks and weapons attacks. Falling down and rolling skills
						are vital for self-protection in real-life situations. Training in
						Hapkido is also a very effective way of promoting good health. As
						the practitioner becomes more skilled, special breathing techniques
						are also developed, in order to enhance inner understanding and
						appreciation of one&#39;s own body.</span>
					<br />
					<br />
				</div>
				<div id="philosophy-hangookdo">
					<h3>The philosophy of Hapkido</h3>
					<br />
					<br />
					<p>
						<span > The philosophy of Hapkido
							focuses upon the harmonious co-ordination of three principles: Won
							(Circle Principle), Yu (Nature/Water Principle) and Hwa (Principle
							of Non-Resistance).</span>
					</p>
					<p>
						<b class="emphasize"> Won</b>
						<span><span
							class="Apple-converted-space">&nbsp;</span>- In Hapkido, external
							fluid circular movements are used in order to manipulate and
							utilise an opponent&#39;s weight, strength, movement and line of
							balance, with minimal effort.</span>
					</p>
					<p>
						<b class="emphasize"> Yu</b>
						<span>- Hapkido techniques should
							be executed like water flowing down a mountain. In order to move
							naturally, movements are soft, fluid and move together with nature.</span>
					</p>
					<p>
						<b class="emphasize"> Hwa</b>
						<span><span
							class="Apple-converted-space">&nbsp;</span>- Rather than opposing
							force with force, Hapkido techniques move with the direction of an
							opponent&#39;s force, in order to re-direct the accumulated energy.
							For example, as an opponents pulls you towards him, you should push
							backwards. Equally, as an opponent pushes you, you should pull him
							towards you. This is basically the principle of push-pull which
							should be developed throughout Hapkido training, in order to
							efficiently unbalance an opponent and execute techniques with
							minimal effort, by utilising an opponent&#39;s own force against
							him.</span>
					</p>

					<p>
						Above all, Hapkido is a practical method of self-defence that
						is suitable for everyone. It is such a highly developed and
						practical art, that it can be executed skilfully, without regard to
						the size, strength, age or sex of the practitioner or opponent. The
						secret is in its precision and in its ability to unlock the hidden
						wells of self-strength and confidence that lie deep within us all.
					</p>
				</div>
			</div>
			<div id="history-hangookdo">
				<br />
				<br />
				<br />
				<h1 >HanGookDo (Hapkido) History</h1>
				<br />
				<br />
				<p>
					<b>In the Far East, Korea established a cultural base earlier
					than other Eastern countries. So to speak, the Orient was the
					source of culture and the source of culture was from Eastern
					people. Therefore, the origin of civilisation on the earth was
					Eastern countries.</b>
				</p>
				<br />
				<br />
				<div id="ki-hangookdo">
					<h3>Discover of Ki - (~ 2333 BC)</h3>
					<br />
					<br />
					<p>
						In ancient times, Han-In (the King of Heaven and ancestor to
						the very 1st generation of Korea) played with Ki energy. Energy is
						completed from Hapki which combines Ki. Han-In achieved a magical
						art which attained the exquisite principle of controlling Ki in his
						own way.
					</p>

					<p>
						Han-In&#39;s son, Han-Ung Cheon-Hwang (the Great King),
						watched the earth from above and observed human life. Han-Ung
						wanted to ensure a bright future for human life and Han-In agreed
						that humans did indeed deserve to gain happiness. So, with 3,000
						followers, Han-In descended to Mount T&#39;aebaek. From there, he
						governed the people, taking charge of 360 areas of responsibility,
						attending to matters such as agriculture, illness and medicine,
						punishment, and good and evil. By establishing his Bedal dynasty,
						he sowed the seeds for the nation of Korea.
					</p>
					<p>
						Han-Ung Cheon-Hwang practiced the important Korean philosophy
						of Hong-Ik-In-Gan (giving for the benefit of others) received from
						Han-In.
					</p>
					<p>
						In Han-Ung times, in Su-Do Je-Dan, people trained their body,
						mind and spirit from Cheon Buk Kyeong, a book comprised of three
						parts. One of the parts, Cham Jeon Gae Kyeong, was about methods of
						controlling one&#39;s own mind.
					</p>
					<p>
						After learning everything from Cham Jeon Gae Kyoung, that
						person would have gained a lot of clear knowledge. They would then
						be ready to obtain the principle of Sam-Hwa-Gi-Il from another
						part, that of Sam-Il-Shin-Go. This involved meditation. Through
						meditation, a person could enter the Su-Do world and become a
						perfect human.
					</p>
					<br />
					<br />
				</div>
				<div id="king-hangookdo">
					<h3>The first King - (2333 BC ~ 108 BC)</h3>
					<br />
					<br />
					<p>
						Han-Ung had a son named Dankun Wangom. Dankun succeeded his
						father and formed the very 1st Generation of Korea by creating the
						1st Korean Dynasty, Choseon (now known as Ko-Choseon (Old
						Choseon)).
					</p>
					<p>
						Sam-Rang was the title of distinguished position in the
						(Ko-)Choseon Dynasty. On the island of Kanghwa in Korea, there is a
						place called Sam-Rang-seong (Sam-Rang castle). This castle is a
						place where Sam-Rang lived and it was also the place where people
						could protect the Sam-Shin (the Three Gods) who protect Korea,
						Han-In, Han-Ung and Han-Gum (also known as Cho Hwa Shin, Ko Hwa
						Shin and Chi Hwa Shin respectively) or, together, known as Hanalim
						(One God).
					</p>
					<p>
						Sam-Rang was the name of a person who protected Sam-Shin.
						Originally, they were called Sam-Shin-Shi-Jong-Ji-Rang. The public
						protection of Sam-Shin was passed on from generation to generation
						and, hence, the Sam-Rang castle became known as the place for
						protecting Sam-Shin. In addition, as well as guarding the castle,
						Sam-Rang were known as bodyguards who protected the King himself.
					</p>
					<p>
						King Ga-Rol was the 3rd Generation descendant of Dankun
						Wangom. During King Ga-Rol&#39;s reign, the King talked to Sam-Rang
						Ul-Bo-Rok and ordered him to create an alphabet. Sam-Rang Ul-Bo-Rok
						invented Ka-Rim-To-Moon, the old Korean alphabet comprised of 38
						characters.
					</p>
					<p>
						King Shol-La was the 25th Generation of the Dankun family. In
						his 47th year as King, King Shol-La had many Generals but wanted to
						know how to distinguish between those that were good and those that
						were bad. He asked Sam-Rang Hong-Wong-Sun for his advice on making
						a distinction. Sam-Rang Hong-Wong-Sun replied that if the King did
						something unscrupulous, there would be two types of General - those
						that would agree and bow to everything that the King did and those
						that would not.
					</p>
					<p>
						<b>&quot;A good person would not be afraid of anything,
						including direct talk with the King. They would talk to the King
						if something was wrong and not just obey everything he said.&quot;</b>
					</p>
					<p>
						As he explained, the King is like the beginning of water
						flowing down. The King, together with the General, is at the source
						of the water that is flowing down to the people and so the moving
						water must be clear. Most importantly, if the King is correct, and
						then the Generals are correct, then everybody is safe and well. It
						is also stated in a document that&quot;If the Holy King is good,
						the General will also be good.&quot;
					</p>
					<p>
						Sam-Rang did a lot of Ki training, so that they knew how to
						control the energy of their own body. They still had a connection
						with the sky and they were sometimes possessed by the Gods from
						above. They were human but they were perfect humans. They reigned
						over human life and were considered Bedal Gods, or Gods of the
						Korean People.
					</p>
					<p>
						Dankun ruled Korea for 1500 years. Then, from 57 B.C., three
						Kingdoms of Korea were formed - the Shilla Dynasty (57 B.C. - A.D.
						935), the Koguryeo Dynasty (37 B.C. - A.D. 668) and the Baekje
						Dynasty (18 B.C. - A.D. 660).
					</p>
					<br/>
					<br />
				</div>
				<div id="evolution-hangookdo">
					<h3>Evolution of HanGookDo (Hapkido)</h3>
					<br />
					<br />
					<p>
						Ki martial arts spread throughout the age of the Three
						Kingdoms and evidence of the practice of Korean martial arts during
						these ancient times can still be found all over Korea. The wall
						paintings from the Koguryeo Dynasty found on Sam-Shil-Chong tomb
						mound, Su-Beok-Ta from the Baekje Dynasty and the statues of A and
						Um (also referred to as Kumkang-Yuksa) erected during the Shilla
						Dynasty inside Seokgulam cave in Bulguksa Temple are historical
						examples of expressions of power from the skill of controlling Ki
						in ancient times.
					</p>
					<p>
						During the Baekje Dynasty, Sam-Rang continued to be the
						position of distinction. The equivalent position in the Shilla
						Dynasty was that of the Hwarang. The Hwarang were made up of the
						sons of the rich and noblesse and they had been sent by their
						families to train. In comparison, in the Koguryeo Dynasty,
						everybody who was single and young, regardless of wealth or family
						status, could train at Kyoungdang.
					</p>
					<p>
						In Kyoungdang, they trained in horse-riding, archery
						practice, manner, singing, reading and Hapki. These practices were
						very strict and systematic. They were not allowed to be ungrateful
						to their parents, be disloyal to their nation or be disrespectful
						to a Master. Such behaviours were called Sam-Jeok (Three Enemies),
						so that it was an important attitude for them to avoid. Moreover,
						they were strongly against being lazy in their task, being
						disobedient to order and ignoring one&#39;s mistakes. This was
						called Sam-Bo.
					</p>
					<p>
						The old theory of Sam-Shin practice also spread rapidly as
						everybody respected Shin-Si-Han-Ung. Sam-Shin practice spread from
						the Koguryeo Dynasty, then expanded across the Shilla and Baekje
						Dynasties. The higher-level Buddhist monk He-Yang introduced
						Pal-Kan-Kwe to the Shilla Dynasty.
					</p>
					<p>
						Pal-Kan-Kwe is a traditional Korean ceremony of Sam-Shin
						admiration (totemism). After this ceremony, people went up on
						Oo-Re-Roo-Gak and, from there, watched a competition called Bak-He
						which was part of the Guk-Joon national festival. The Korean
						scholar Dan-Je Shin Che-Ho shared some information about some of
						the one hundred skills that were used in this competition:
					</p>
					<p>
						<b>&quot;First, Han-Meng involved fighting against two people
						using stone strikes in water. The fighter stood in water with a
						person on his left side and a person on his right side. The winner
						and loser were decided by a series of stone strikes against one
						another.</b>
					</p>
					<p>
						<b>Second, Su-Bak involved empty hands fighting. That is,
						fighting an opponent without a weapon. This skill was introduced
						to Japan, where it was known as the art Yusool, and China, where
						it was known as the art of Kwanbop.</b>
					</p>
					<p>
						<b>Third, sword techniques were a main ability for a warrior of
						the Buyeo Dynasty, a Sun-In warrior of the Koguryeo Dynasty and
						the Sam-Rang of the Shilla Dynasty.</b>
					</p>
					<p>
						<b>Forth, Kung-Sul involved archery and was very popular in
						Korea. In ancient times, the Chinese admitted that Korean archery
						was great and excellent.</b>
					</p>
					<p>
						<b>Fifth, Kyeok-Goo involved demonstrating ball-skills in a
						ball ground.</b>
					</p>
					<p>
						<b>Sixth, Kum-Hwan involved fighting people by throwing them.</b>
					</p>
					<p>
						<b>Seventh, Ju-Ma involved horse-riding.</b>
					</p>
					<p>
						<b>Finally, eighth was Hae-Reop, which involved going out
						hunting.</b>
					</p>
					<p>
						<b>Although there were one hundred skills during the Shilla
						Dynasty, in Pal-Kan-Kwe competition, the eight skills mentioned
						above were the most famous skills used.&quot;</b>
					</p>
					<p>
						It may be added that, such customs were not limited to Korea.
						Indeed, during its Yo, Kum and Cheoung Dynasties, China also held
						similar martial arts festivals.
					</p>
					<br />
					<br />
				</div>
				<div id="origin-hangookdo">
					<h3>Origin of HanGookDo (Hapkido)</h3>
					<br />
					<br />
					<p>
						The popularity of Korean martial arts continued to grow.
						During the Koryeo Dynasty in Korea, national Hapki was so popular
						that the instruction of martial arts was made by King
						Jeong-Jo&#39;s order. Even before that, Ki martial arts had greatly
						expanded throughout the three Kingdoms age of Korea, and then
						spread to other neighbouring countries. In particular, people from
						the Koguryeo Dynasty in the North emigrated to China and people
						from the Shilla and Baekje Dynasties in the South emigrated to
						Japan. With them, Korean martial arts were exported.
					</p>
					<p>
						In his book, Domiki from the University of Waseda in Japan
						explained history in the following way:
					</p>
					<p>
						<b>&quot;In the age of Kamajula, original Hapkido was from the
						Sam-Rang Won-Eoi-Kwang. They then taught it to the Japanese
						Minamoto family and the Minamoto family passed it on to the Takeda
						family. It stayed in the Takeda family and, after seven
						generations, it was introduced to Takeda Sogaku, who was the 35th
						Generation of the Takeda family. Takeda Sogaku then handed it down
						to Takedaga who was also his best student.&quot;</b>
					</p>
					<p>
						More recently, for 90 days Takeda Sogaku taught Morihei
						Ueshiba some of the external and circular skills of Hapkido, and,
						from this, Ueshiba later founded Aikido.
					</p>
					<p>
						Thus, original Japanese Hapkido was from the Sam-Rang
						Won-Eoi-Kwang who were a Korean noble family of the Shilla Dynasty.
						Indeed, such has been confirmed by books which were written by
						Japanese scholars. It is also reported that the Sam-Rang
						Won-Eoi-Kwang family introduced the magical art of combining Ki to
						Japan.
					</p>
					<p>
						The origin of Hapkido is Korea. Japanese Hapkido originated
						from Korean Sam-Rang. Sam-Rang protected Sam-Shin and trained in
						the principle of Sam-Shin, so that Sam-Rang and Sam-Shin have an
						inseparable relationship. Sam-Shin philosophy and the reasoning
						behind Sam-Shin practice is like that of Hapkido. Thus, Sam-Rang
						and Hapki have an inseparable relationship too.
					</p>
					<p>
						Over the years, we can notice that Hapkido has continued to
						expand and be exported to China and Japan.
					</p>
					<p>
						Back in the period of Dankun, the Great King of (Ko-)Choseon,
						Chi-Woo Cheon-Hwang, conquered Yum Je Yu Man, the 8th Generation
						descendant of Yum Je Shin Wan. Chi-Woo took over Yu Man&#39;s land
						and Yum Je Yu Man fled to Ta-Lok castle. From this time, Chi-Woo
						went to war in Ta-Lok castle with the owner of the castle, the
						Great King of China, Hun Won. This war is known as Ta-Lok&#39;s
						greatest war and lasted ten years, during which Chi-Woo and Hun-Won
						fought more than 70 times. Unfortunately, one of the casualties of
						war was Chi-Woo&#39;s general, Chi-Woo-Bi, who had been arrested by
						Hun Won and died.
					</p>
					<p>
						According to Chinese history it is claimed that Chi-Woo died
						in the same war. Yet, in fact, Chi-Woo lived for a long time after
						the war, controlling He-De land, before eventually passing away
						years later. His grave is in San Dung castle.
					</p>
					<p>
						After his death, Chi-Woo&#39;s sons divided into 10 groups,
						with each group expanding and controlling many parts of China. The
						Dong-Hi tribe also established the custom of an annual ceremony, in
						honour of Chi-Woo. The ceremony was held every year and was
						respected by all Chinese people including the noblesse and royal
						family until the Jin and Han periods.
					</p>
					<p>
						In addition, Ki energy martial art progressed impressively
						and developed into several different kinds of styles of martial
						arts. Indeed, overall, we can recognise that the basics of many
						Japanese and Chinese martial arts did in fact originate from Korea.
					</p>
					<br />
					<br />
				</div>
			</div>
			<div id="federtation-hangookdo">
				<h1 id="federtation-hangookdo">The Korea Hapkido Federation</h1>
				<br />
				<br />
				<p>
					The Korea Hapkido Federation is the longest running Hapkido
					organisation and considered the most famous in Korea. They have
					been well established for many years and were the first official
					governing body of Hapkido in Korea and throughout the world.
				</p>
				<p>
					The Chronology of the Korea Hapkido Federation
				</p>
				<p>
					<ul>
						<li>
							1965 - The Korea Hapkido Federation, Dae Han Hapkido Hyup
							Hwe, was established
						</li>
						<li>
							1973 - Unification - Renamed Dae Han Min Kook Hapkido Hyup
							Hwe
						</li>
						<li>
							1984 - Renamed Dae Han Hapkido Hyup Hwe
						</li>
						<li>
							1985 - Unification - Renamed Sae Ma Ul Hapkido Hyup Hwe
						</li>
						<li>
							1985 - Unification - Renamed Dae Han Hapkido Jung Ang Yun
							Hyup Hwe
						</li>
						<li>
							1986 - Unification - Renamed Dae Han Chae Yuk Jin Hung Hwe
							Dae Han Hapkido Hyup Hwe
						</li>
						<li>
							1990 - Renamed Sa Dan Bup In Dae Han Hapkido Hyup Hwe
						</li>
						<li>
							2005 - It has remained as Sa Dan Bup In Dae Han Hapkido
							Hyup Hwe
						</li>
					</ul>
				</p>
				<p >
					Today, the Korea Hapkido Federation is a global federation
					aiming towards the unification and expansion of Hapkido,
					introducing the art to whole continents. They send top qualified
					masters throughout the world in order to ensure it is taught in the
					correct manner and to the level required in order to expand on such
					a large scale.
				</p>
				<p>
					&nbsp;
				</p>
			</div>
		</div>
		<div class="col-md-3">
			<div angular-affix top=70 class="bs-docs-sidebar">
				<ul class="nav bs-docs-sidenav">
					<li>
						<a class='active' spy="about-hangookdo" firstspy='true'>About HanGookDo(HapKiDo)</a>
						<ul>
							<li>
								<a spy="meaning-hangookdo">What is HanGookDo (Hapkido)?</a>
							</li>
							<li>
								<a spy="philosophy-hangookdo">The philosophy of Hapkido</a>
							</li>
						</ul>
					</li>
					<li>
						<a spy="history-hangookdo" >HanGookDo (Hapkido) History</a>
						<ul>
							<li>
								<a spy="ki-hangookdo">Discover of Ki - (~ 2333 BC)</a>
							</li>
							<li>
								<a spy="king-hangookdo">The first King - (2333 BC ~ 108 BC)</a>
							</li>
							<li>
								<a spy="evolution-hangookdo">Evolution of HanGookDo (Hapkido)</a>
							</li>
							<li>
								<a spy="origin-hangookdo">Origin of HanGookDo (Hapkido)</a>
							</li>
						</ul>
					</li>
					<li>
						<a spy="federtation-hangookdo" lastspy='true'>The Korea Hapkido Federation</a>
					</li>
				</ul>
				<a class="back-to-top" ng-click="gotoTop()">Back to top</a>
			</div>
		</div>
	</div>
</div>
