<div>
	<div class='container content'>
		<div class="row">
			<div class="col-md-12">
				<div class="message-box">
					<div class="message-banner">
						<label>Hapkido Activation</label>
					</div>
					<div class="message-content">
						<div>
							<label>Your account is not activated yet. Please activate your account by clicking link in the email we have sent you.</label>
						</div>
						<div></div>
						<div>
							<button ng-click="reactivate()" class="btn-hangookdo" >
								Re-send
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="loading" ng-show="isActivate"><img src="/images/loading.gif"/>
	</div>
</div>
