<div class='container content'>
	<div class="row" scroll-spy>
		<div class="col-md-12 bs-docs-section" style="text-align:center">
			<h1>The 4th Black-belt DAN test result</h1>
			<img src="images/grading.gif" style="margin:auto; border-radius:3% "/>
			<br/>
			<br/>
			<br/>
			<br/>
			<p style="color:black">
				The 4th Black Belt Test Result
				<br/>
				<br/>
				2nd DAN
				<br/>
				Dominic Adams (KHF)
				<br/>
				Brendon Gormley (KHF)
				<br/>
				Shu-Xian Ong (KHF)
				<br/>
				<br/>
				1st DAN
				<br/>
				Yuri Velijanski (KHF)
				<br/>
				Samuel Max Williams (KHF)
				<br/>
				<br/>
				Black belt
				<br/>
				Armand Xikai Spencer (NZ)<br/>
				Eban Wolfgramm-Jones(NZ)<br/>
				Harry Shore (NZ)<br/>
				Josh Marryatt (NZ)<br/>
				Cameron Marryatt (NZ)<br/>
				Cornelia Chan (NZ)<br/>
				Claudia Chan (NZ)<br/>
				Clarence Chan (NZ)<br/>
				Marko Neild (NZ)<br/>
				Jesse Gormley (NZ)<br/>
				<br/>
				<br/>
				Congratulations!
			</p>
			<br/>
			<br/>
			<br/>
			<br/>
			<p style="color:black">
				The 4th Black-belt DAN test and 37th Grading-test
				<br/>
				was held in Bucklands beach primary school on
				<br/>
				Saturday 28th of June, 2014.
				<br/>
				Thank you
			</p>
			<br/>
			<br/>
		</div>
	</div>
</div>
