<div>
	<div class='container content'>
		<div class="row">
			<div class="col-md-12">
				<form name="loginForm">
					<div class="login-box">
						<div class="login-banner">
							<label>Hapkido Login</label>
						</div>
						<div class="login-field">
							<div>
								<span class="glyphicon glyphicon-user"></span><label>ID</label>
								<input maxlength="50" name="userid" ng-model="user.id" class="form-control" type="text" min-length="6" size="20" required />
							</div>
							<div>
								<span class="glyphicon glyphicon-lock"></span><label>Password</label>
								<input maxlength="20" name="userpassword" ng-model="user.password" class="form-control" type="password" min-length="6" size="20" required />
							</div>
							<div>
								<a href="/#/register">Register</a>/<a href="/#/lostpassword">Lost password</a>
								<button ng-click="login(user)" class="btn-hangookdo" ng-disabled="!loginForm.$pristine && loginForm.$invalid" >
									Login
								</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="loading" ng-show="isLogin"><img src="/images/loading.gif"/>
	</div>
</div>

