<div>
	<!-- carousel -->
	<carousel disable-animation="true" interval="myInterval">
		<slide ng-repeat="slide in slides" active="slide.active">
			<div class="carousel-image-container" ng-style="slide.style" >
				<!-- <img ng-src="{{slide.image}}"/> -->
			</div>
		</slide>
	</carousel>
	<!-- carousel end -->

	<div class="container marketing">
		<h1>News</h1>
		<!-- Three columns of text below the carousel -->
		<div class="row">
			<div class="col-lg-4" ng-repeat="item in news">
				<img class="img-circle" ng-src="{{item.titlephoto}}" style="width: 300px; border-radius:5%">
				<h3 >{{item.title}}</h3>
				<p>
					<a class="btn btn-default" ng-click="viewNews(item)" role="button">View details </a>
				</p>
			</div>
		</div>
	</div><!-- /.container -->
</div>

