<div class='container content'>
	<div class="row" scroll-spy>
		<div class="col-md-9 bs-docs-section">

			<div id="timetalbe-hangookdo" style="display:none">
				<br/>
				<h1>School Holiday Timetable
				<br/>
				(from 07/07/2014 to 18/07/2014)</h1>
				<br/>
				<table class="time-table">
					<tbody>
						<tr>
							<td>Monday</td><td>Tuesday</td><td>Wednesday</td><td>Thursday</td><td>Friday</td><td>Saturday</td>
						</tr>
						<tr>
							<td class="women-belt">9:10AM - 10:10AM
							<br/>
							Women Class</td>
							
							<td><img src="/images/logo50.png"/></td>
							
							<td class="women-belt">9:10AM - 10:10AM
							<br/>
							Women Class</td>
							
							<td><img src="/images/logo50.png"/></td>
							
							<td class="women-belt">9:10AM - 10:10AM
							<br/>
							Women Class</td>
							
							
							<td><img src="/images/logo50.png"/></td>
						</tr>
						<tr>
							<td class="all-belt">5:00PM - 6:00PM
							<br/>
							All Belts</td><td class="all-belt">5:00PM - 6:00PM
							<br/>
							All Belts</td><td class="all-belt">5:00PM - 6:00PM
							<br/>
							All Belts</td><td class="all-belt">5:00PM - 6:00PM
							<br/>
							All Belts</td><td class="all-belt">5:00PM - 6:00PM
							<br/>
							All Belts</td><td><img src="/images/logo50.png"/></td>
						</tr>
						<tr>
							<td class="all-belt">6:30PM - 7:30PM
							<br/>
							All Belts</td><td class="all-belt">6:30PM - 7:30PM
							<br/>
							All Belts</td><td class="all-belt">6:30PM - 7:30PM
							<br/>
							All Belts</td><td class="all-belt">6:30PM - 7:30PM
							<br/>
							All Belts</td>
							<td><img src="/images/logo50.png"/></td>
							<td><img src="/images/logo50.png"/></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div id="timetalbe-hangookdo">
				<br/>
				<h1>Timetable</h1>
				<br/>
				<table class="time-table">
					<tbody>
						<tr>
							<td>Monday</td><td>Tuesday</td><td>Wednesday</td><td>Thursday</td><td>Friday</td><td>Saturday</td>
						</tr>
						<tr>
							<td class="women-belt">9:10AM - 10:10AM
							<br/>
							Women Class</td><td><img src="/images/logo50.png"/></td><td class="women-belt">9:10AM - 10:10AM
							<br/>
							Women Class</td><td><img src="/images/logo50.png"/></td><td class="women-belt">9:10AM - 10:10AM
							<br/>
							Women Class</td>
							
							<!--
							<td class="all-belt">9:30AM - 10:30AM
							<br/>
							All Belts</td>
								-->
								<td><img src="/images/logo50.png"/></td>
						</tr>
						<tr>
							<td class="all-belt">4:00PM - 5:00PM
							<br/>
							All Belts</td><td class="all-belt">4:00PM - 5:00PM
							<br/>
							All Belts</td><td class="all-belt">4:00PM - 5:00PM
							<br/>
							All Belts</td><td class="all-belt">4:00PM - 5:00PM
							<br/>
							All Belts</td><td class="all-belt">4:00PM - 5:00PM
							<br/>
							All Belts</td><td><img src="/images/logo50.png"/></td>
						</tr>
						<tr>
							<td class="all-belt">5:10PM - 6:10PM
							<br/>
							All Belts</td><td class="all-belt">5:10PM - 6:10PM
							<br/>
							All Belts</td><td class="all-belt">5:10PM - 6:10PM
							<br/>
							All Belts</td><td class="all-belt">5:10PM - 6:10PM
							<br/>
							All Belts</td><td class="black-belt">5:30PM - 7:00PM
							<br/>
							Black Belts</td><td><img src="/images/logo50.png"/></td>
						</tr>
						<tr>
							<td class="all-belt">6:30PM - 7:30PM
							<br/>
							All Belts</td><td class="all-belt">6:30PM - 7:30PM
							<br/>
							All Belts</td><td class="all-belt">6:30PM - 7:30PM
							<br/>
							All Belts</td><td class="all-belt">6:30PM - 7:30PM
							<br/>
							All Belts</td><td><img src="/images/logo50.png"/></td><td><img src="/images/logo50.png"/></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div id="price-hangookdo">
				<br/>
				<h1>Price</h1>
				<div>
					<br/>
					<h4>Term</h4>
					<br/>
					<table class="price-table">
						<tbody>
							<tr>
								<td colspan="2">Membership</td>
							</tr>
							<tr>
								<td>1 Month</td>
								<td>$120</td>
							</tr>
							<tr>
								<td>3 Months</td>
								<td>$300</td>
							</tr>
							<tr>
								<td>6 Months</td>
								<td>$500</td>
							</tr>
							<tr>
								<td>12 Months</td>
								<td>$900</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div>
					<br/>
					<h4>Concessions</h4>
					<br/>
					<table class="price-table">
						<tbody>
							<tr>
								<td colspan="2">Concession Card</td>
							</tr>
							<tr>
								<td>12 Concessions</td>
								<td>$120</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div>
					<br/>
					<h4>Uniform</h4>
					<br/>
					<table class="price-table">
						<tbody>
							<tr>
								<td colspan="2">Uniform</td>
							</tr>
							<tr>
								<td>Adult</td>
								<td>$100</td>
							</tr>
							<tr>
								<td>Children</td>
								<td>$80</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-3">
			<div angular-affix top=70 class="bs-docs-sidebar">
				<ul class="nav bs-docs-sidenav">
					<li>
						<a class='active' spy="timetalbe-hangookdo" firstspy='true'>Timetable</a>
					</li>
					<li>
						<a spy="price-hangookdo" lastspy='true'>Price</a>
					</li>
				</ul>
				<a class="back-to-top" ng-click="gotoTop()">Back to top</a>
			</div>
		</div>
	</div>
</div>
