<div class="cms-breadcrum">
	<input ng-click="backToNewsList()" class="amber-button hgd-button btn btn-default btn-lg" type="button" value="&lt; News List" />
</div>
<h1>{{heading}}</h1>
<form id="news-form" ng-model="formData" action="news" method="post">
	<table class="news-form-table">
		<tbody>
			<tr>
				<td>
				<input class="news-title form-control" type="text" ng-model="formData.title" name="title" />
				</td>
			</tr>
			<tr>
				<td>
					<div class="news-editor-textarea" text-angular="text-angular" name="htmlcontent" ng-model="formData.content" ta-disabled='disabled'></div>
				</td>
			</tr>
			<tr>
				<td>
				<input class="red-button news-form-button hgd-button btn btn-default btn-lg" type="button" ng-click="backToNewsList()" value="Cancel" />
				<input class="green-button news-form-button hgd-button btn btn-default btn-lg" type="button" ng-click="submit()" value="Submit" />
				</td>
			</tr>
		</tbody>
	</table>
</form>