<div>
	<div class='container content'>
		<div class="row">
			<div class="col-md-12">
				<form name="registrationForm">
					<table class="registration-table">
						<thead>
							<tr>
								<th colspan="2"><h1>Hangookdo (Hapkido) User Registration</h1></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><b class="notification padding">*</b>User ID</td><td><span class="input-icon invalid glyphicon glyphicon-remove" ng-show="!registrationForm.userid.$pristine && (registrationForm.userid.$error.minLength || !user.idValid)"></span><span class="input-icon valid glyphicon glyphicon-ok" ng-show="!registrationForm.userid.$pristine && !registrationForm.userid.$error.minLength && user.idValid"> </span>
								<input maxlength="50" class="register-input form-control" name="userid" ng-model="user.userId" type='text' min-length="6" size="20" required/>
								<span class="error notification" ng-show="registrationForm.userid.$error.minLength">User id has to be minimun of 6 characters and maximum of 50 characters.</span>
								<span class="error notification" ng-show="!registrationForm.userid.$pristine && !user.idValid">This user id is already used by the other user account.</span></td>
							</tr>
							<tr>
								<td><b class="notification padding">*</b>Password</td><td><span class="input-icon invalid glyphicon glyphicon-remove" ng-show="!registrationForm.password.$pristine && registrationForm.password.$error.minLength"> </span><span class="input-icon valid glyphicon glyphicon-ok" ng-show="!registrationForm.password.$pristine && !registrationForm.password.$error.minLength"> </span>
								<input maxlength="20" class="register-input form-control" name="password" ng-model="user.psd" type='password' min-length="6" size="50" required/>
								<span class="error notification" ng-show="registrationForm.password.$error.minLength">Password has to be minimun of 6 characters and maximum of 20 characters.</span></td>
							</tr>
							<tr>
								<td><b class="notification padding">*</b>Confirm Password</td><td>
								<span class="input-icon invalid glyphicon glyphicon-remove" ng-show="!registrationForm.confirmPassword.$pristine && (registrationForm.confirmPassword.$error.minLength || registrationForm.confirmPassword.$error.same)"></span>
								<span class="input-icon valid glyphicon glyphicon-ok" ng-show="!registrationForm.confirmPassword.$pristine && !registrationForm.confirmPassword.$error.minLength && !registrationForm.confirmPassword.$error.same"></span>
								<input maxlength="20" class="register-input form-control" name="confirmPassword" ng-model="user.confirmPassword" type='password' min-length="6" size="50" required same="{{user.psd}}"/>
								<span class="error notification" ng-show="registrationForm.confirmPassword.$error.minLength">Password has to be minimun of 6 characters and maximum of 20 characters.</span>
								<span class="error notification" ng-show="registrationForm.confirmPassword.$error.same">Confirm password is different to entered password.</span></td>
							</tr>
							<tr>
								<td><b class="notification padding">*</b>First Name</td><td><span class="input-icon invalid glyphicon glyphicon-remove" ng-show="!registrationForm.firstname.$pristine && registrationForm.firstname.$error.alphabet"></span><span class="input-icon valid glyphicon glyphicon-ok" ng-show="!registrationForm.firstname.$pristine && !registrationForm.firstname.$error.alphabet"> </span>
								<input maxlength="50" class="register-input form-control" name="firstname" ng-model="user.firstName" type='text' size="50" alphabet required/>
								<span class="error notification" ng-show="registrationForm.firstname.$error.alphabet && !registrationForm.firstname.$pristine">First name must be alphabet.</span>
							</tr>
							<tr>
								<td><b class="notification padding">*</b>Last Name</td><td><span class="input-icon invalid glyphicon glyphicon-remove" ng-show="!registrationForm.lastname.$pristine && registrationForm.lastname.$error.alphabet"></span><span class="input-icon valid glyphicon glyphicon-ok" ng-show="!registrationForm.lastname.$pristine && !registrationForm.lastname.$error.alphabet"> </span>
								<input maxlength="50" class="register-input form-control" name="lastname" ng-model="user.lastName" type='text' size="50" alphabet required/>
								<span class="error notification" ng-show="registrationForm.lastname.$error.alphabet">Last name must be alphabet.</span>
							</tr>
							<tr>
								<td><b class="notification padding">*</b>Email</td><td><span class="input-icon invalid glyphicon glyphicon-remove" ng-show="!registrationForm.email.$pristine && (registrationForm.email.$error.email || !user.emailValid)"></span><span class="input-icon valid glyphicon glyphicon-ok" ng-show="!registrationForm.email.$pristine && !registrationForm.email.$error.email && user.emailValid"> </span>
								<input class="register-input form-control" name="email" ng-model="user.email" type='text' size="100" email required/>
								<span class="error notification" ng-show="registrationForm.email.$error.email">Please enter right email format.</span>
								<span class="error notification" ng-show="!registrationForm.email.$pristine && !user.emailValid">This email is already associated with other existing user account.</span></td>
							</tr>
							<tr>
								<td colspan="2">
								<button ng-disabled="registrationForm.$invalid || !user.idValid || !user.emailValid" ng-click="createUser()" class="btn-hangookdo">
									Register
								</button>
								<button class="btn-hangookdo" ng-click="cancelRegistration()">
									Cancel
								</button></td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</div>
	<div class="loading" ng-show="isRegister"><img src="/images/loading.gif"/>
	</div>
</div>
