<div class='container content'>
	<div class="row" scroll-spy>
		<div class="col-md-12 bs-docs-section" style="text-align:center">
			<h1>School Holiday Program - Register now!</h1>
			<img src="images/khflogo.jpg" style="margin:auto; width: 400px; height:400px"/>
			<br/>
			<br/>
			<br/>
			<p style="color:black">We are going to have a special training programme during the school holiday  
				<br/>
				<br/>Date: Tuesday 30th September to Thursday 2nd October<br/>
				Time: 9:00-1:00 pm <br/>
				Joining fee:$35.00, <br/>
				<br/>
				Any inquiry, please ask Jenny 021 0267 1035 
				<br/>
				<br/> Thank you</p>
			<br/>
			<br/>
		</div>
	</div>
</div>
